/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.pane {
  background-color: #333;
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.bar .title {
  color: #eee;
}

.swipe-cards {
    position: fixed;

}

.swipe-card {
      display: none;
      position: fixed;
      -webkit-transform: scale(1,1);
      width: 300px;
      height: 300px;
      margin-top:-150px;
      margin-left:-150px;
      top:50%;
      left:50%;
      box-sizing: border-box;
      background-color: rgb(255,255,255);
      border-radius: 10px;
      overflow: hidden;
      -webkit-animation-fill-mode: forwards;
}

.swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
.swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}

/*================================Quick Fixes=========================*/
.bold{
    font-weight: bold;
}
.auto-center{
    margin-top:auto;
    margin-left:auto;
}

/*fix backdrop issue*/
.backdrop.active{
    z-index:11;
}
.popup{
    z-index:12;
}

/*Default Text*/
.default-text {
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 3em;
    background-color: #334fff;
    word-wrap: break-word;
    border: 6px solid #5c69ff;
    border-radius: 20px;
}

.default-text > h1 {
    color: #fff;
}

/*==================================Accordion List==========================================*/

.list .row.item-accordion{
    line-height: 20px;
    width:60%;
    padding-top:0;
    padding-bottom:0;
    /*transition:0.50s all linear;*/

}
.list .icon.ion-pricetag{
    /*margin-left:50%;*/
    font-size: 2em;
}
.list .row.item-accordion.ng-hide{
    line-height:0px;
}
.list .item-accordion.ng-hide-add,
.list .item-accordion.ng-hide-remove{
    display: block !important;
}

.list .row.item-accordion.test-animation{
    -webkit-transition: line-height 2s;
}


/*======================================checkbox color=====================================*/
.color-tag {
    position: fixed;
    z-index: 2;
    bottom: 5%;
    right: 5%;
    width: 20px;
    height: 20px;
}

.color-tag-popover {
    max-width: 140px;
    height: 35px;
    background-color: #3f3c29;
}
.grey{
    color: #b1b1b1;
}
.grey-background{
    background-color:#b1b1b1;
}
.blue{
    color: #4a86ed;
}
.blue-background{
    background-color: #4a86ed;
}
.lightblue{
    color: #43cde5;
}
.background-lightblue{
    background-color: #43cde5;
}
.green{
    color: #66cb33;
}
.green-background{
    background-color: #66cb33;
}

.orange{
    color: #efb740;
}
.orange-background{
    background-color: #efb740;
}
.yellow{
    color:yellow;
}
.yellow-background{
    background-color:yellow;
}
.red{
    color: #ed4e3a;
}
.red-background{
    background-color: #ed4e3a;
}
.black{
    color: #444444;
}
.black-background{
    background-color: #444444;
}
.white{
    color: #fcebd5;
}
.white-background{
    background-color: #fcebd5;
}