<ion-modal-view>
    <!-- Modal header bar -->
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-settings"></button>
        <h1 class="title">Menu</h1>
        <button class="button button-clear button-primary" ng-click="closeModal('menu')">Cancel</button>
    </ion-header-bar>

    <!--Modal content area-->
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Candy Bars
            </div>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
            <a class="item" href="#">
                Butterfinger
            </a>
        </div>
    </ion-content>
</ion-modal-view>