<ion-modal-view>
    <!-- Modal header bar -->
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">New Card</h1>
        <button class="button button-clear button-primary" ng-click="closeModal('new')">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Card Title" ng-model="edit.title">
            </label>
            <label class="item item-input">
                <textarea ng-model="edit.text" placeholder="enter your content here..." rows="6" style="resize: vertical"></textarea>
            </label>
        </div>
            <button class="button button-full button-positive" ng-click="newsave()">Create</button>

    </ion-content>

</ion-modal-view>