<ion-popover-view class="color-tag-popover">
    <!--div class="list">
        <a class="item item-icon-left" >
           <i class="icon ion-ios7-pricetag"></i>
        </a>
        <a class="item item-icon-left" >
            <i class="icon ion-ios7-pricetag"></i>
        </a>
        <a class="item item-icon-left" >
            <i class="icon ion-ios7-pricetag"></i>
        </a>
        <a class="item item-icon-left" >
            <i class="icon ion-ios7-pricetag"></i>
        </a>
        <a class="item item-icon-left" >
            <i class="icon ion-ios7-pricetag"></i>
        </a>
    </div-->
    <div class="row" style="padding-top:3px;">
        <div class="col" style="padding-top: 0px;margin-left:auto;" ng-click="setColorTag('')">
            <i class="icon ion-ios7-pricetag white" style="font-size:2em;"></i>
        </div>
        <div class="col" style="padding-top: 1px;margin-left:auto;" ng-click="setColorTag('red')">
            <i class="icon ion-ios7-pricetag red" style="font-size:2em;"></i>
        </div>
        <div class="col" style="padding-top: 0px;margin-left:auto;" ng-click="setColorTag('yellow')">
            <i class="icon ion-ios7-pricetag yellow" style="font-size:2em;"></i>
        </div>
        <div class="col" style="padding-top: 0px;margin-left:auto;" ng-click="setColorTag('green')">
            <i class="icon ion-ios7-pricetag green" style="font-size:2em;"></i>
        </div>
        <div class="col" style="padding-top: 0px;margin-left:auto;" ng-click="setColorTag('blue')">
            <i class="icon ion-ios7-pricetag blue" style="font-size:2em;"></i>
        </div>
    </div>
</ion-popover-view>